@import './partials/_general';
@import './partials/_variables';
@import 'bootstrap/scss/bootstrap';
@import './partials/utility';
// @import "~@tomtom-international/web-sdk-maps/css/map.css";

body{
  font-family: 'Figtree', sans-serif;
}

.btn-custom-primary {
  border: none;
  background-color: $primary_color;
  padding: 3px 10px 3px 10px;
  border-radius: 5px;
  color: white;
}
.btn-custom-primary:hover {
  background-color: darken($primary_color, 5%);;
}