@import 'bootstrap/scss/bootstrap';
@import './partials/_general';
@import './partials/_variables';
@import './partials/checkbox';
@import './partials/utility';

// @import "~@tomtom-international/web-sdk-maps/css/map.css";

body{
  font-family: 'Figtree', sans-serif;
}

.btn-custom-primary {
  background-color: $primaryColor;
  color: white;
}
.btn-custom-primary:hover {
  background-color: $secondaryColor;
  color: white;
}