@import './partials/_general';
@import './partials/_variables';
@import 'bootstrap/scss/bootstrap';
// @import "~@tomtom-international/web-sdk-maps/css/map.css";

body{
  font-family: 'Figtree', sans-serif;
}