@import './partials/_general';
@import './partials/_variables';
@import 'bootstrap/scss/bootstrap';
@import './partials/utility';
// @import "~@tomtom-international/web-sdk-maps/css/map.css";

body{
  font-family: 'Figtree', sans-serif;
}

.btn-custom-primary {
  background-color: #016A70;
  color: white;
}
.btn-custom-primary:hover {
  background-color: rgba($color: #025054, $alpha: 1);
  color: white;
}